__pycache__/
*.py[cod]
.pytest_cache/
.env.local
config/.env.local
.DS_Store
**/__pycache__/
*.db
*.db-shm
*.db-wal

db/*.sqlite3-shm
db/*.sqlite3-wal
db/*.sqlite3

ui/ios/.deriveddata/
ui/ios/.deriveddata-tests/

*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
logs/*
!logs/.gitkeep
data/processed/rate_limit_state.json
